@model IEnumerable<multiple_image_upload_AspNetCore.Models.db.User>

<div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     @foreach(var item in Model)
     {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>    
            <td>
                <a asp-action="SeeImagesOfUser" 
                   asp-route-id="@item.Id">ดูรูปภาพ</a>
            </td>
        </tr>
     }
   </tbody>
</table>
</div>